*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    width: 100%;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
    }

header {
    background-color: white;
}

a {
    text-decoration: none;
}

.disppear {
    animation: vanish 2s forwards;
}

    @keyframes vanish {
    100% {
    opacity: 0;
    visibility: hidden;
    }
    50% {
        opacity: 1;
    }
}

.light {
    color: white;
}

.txtaling {
    text-align: justify;
}

.teste {
    background-color: rgba(128, 128, 128, 0.342);
}

/* From uiverse.io by @satyamchaudharydev */
/* === removing default button style ===*/
