
section.section2 {
    height: 100%;
    width: 100%;
    

    div.content1 {
        height: 100%;
        width: 60%;
        padding-left: 50px;
        padding-right: 20px;
        padding-top: 100px;
        padding-bottom: 30px;
        display: flex;
        gap: 5px;
        flex-direction: column;
        
        p {
            opacity: 0.6;
            
            @media (max-width: 611px) {
                font-size: 15px;
            }
        }

        .h5 {
            text-indent: 20px;
            font-size: clamp(0.9rem, 1vw, 2rem); 
        }

        @media (max-width: 1440px) {
            width: 80%;
        }
        @media (max-width: 1024px) {
            width: 90%;
        }
        @media (max-width: 768px) {
            width: 100%;
        }
    }

    div.content2 {
        background-color: $colorback;
        padding: 15px;
        display: flex;
        justify-content: center;
        padding-top: 50px;


        div.content2Bloco {
            display: flex;
            gap: 30px;
            width: 30%;
            flex-wrap: wrap;
            

            @media (max-width: 768px){
                width: 50%;
            }

            @media (max-width: 476px){
                width: 80%;
            }

            @media (max-width: 425px){
                width: 90%;
            }
            
            
            figcaption {
                text-align-last: right;
            }
            
            img {
                width: 100%;
                min-width: 200px;
            }
        }
        
    }
    div.container {
        margin-top: 20px;
        p {
            opacity: 0.9;
            @media (max-width: 611px) {
                font-size: 15px;
            }
        }

        p.h5 {
            opacity: 0.6;
            text-indent: 20px;
            font-size: clamp(0.9rem, 1vw, 2rem);
            
        }



        div.list {
            ul {
                li {
                    text-align: center;
                    max-height: 10vh;
                }
                li.ativo {
                    background-color: $colorback;
                }
                
            }
        }
    }
}


footer.footerSobre {
    p {
        text-align: center;
        a {
            color: black;
        }
    }
}